body {
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}

/*HOME PAGE CONTENT MODOFICATIONS*/
#homepage-contents {
    max-width: 1400px;
    margin: 10px auto;
    
    padding: 10px;
}

.homepage-books {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 20px;
}

#homepage-contents h2 {
    margin-left: 20px;
    font-size: 30px;
    
}

.Best-Selling span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #a53baf;
    padding: 10px;
    border-radius: 15px 0;
    color: white;
}

.new-arrival-books span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #3baf58;
    padding: 10px;
    border-radius: 15px 0;
    color: white;
}



.H-content {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    border-radius: 6px;
    flex-shrink: 0;
    margin-bottom: 20px;
    transition: 0.3s;
    
}



.H-content:hover{
    transform: scale(1.05);
}

.H-content img {
    width: 200px;
    height: 256px;
    border-radius: 6px;
    border: none;
}

/*STRART UP CONTENTS MODIFICATIOBS*/
#bookworld-startup{
    background-color: white;
   padding-top: 160px;

}
.start-contents{
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
padding: 20px;
}
.start-contents h1{
    font-family: 'Times New Roman', Times, serif;
}

.sta-descriptions{
    background-color: #ffffff;
    
    width: 600px;
   
    
}
.sta-descriptions p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome{
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.sta-image{
    background-color: #ffffff;
    
}

.start-contents img{
    width: 600px;
    
}

h1{
    margin: 0;
    font-size: 55px;
    
}

.start-contents button{
    padding: 20px;
    border: none;
    background-color: #a53baf;
    font-size: 20px;
    color: white;
}

/*afterheader-links*/
.afterheader-links{
    padding-top: 120px;
    padding-bottom: 20px;
   position: fixed;
   width: 100%;
    text-align: center;
    background-color: #fcd7ff;
    z-index: 999;
    
}

.afterheader-links a{
    
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}