body {
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}

.phone-numbers a{
    padding: 10px;
}

/*contat us PAGE CONTENT MODOFICATIONS*/
h2{
    text-align: center;
}
.main{
    padding-top: 170px;
    padding-bottom: 10px;
    max-width: 1400px;
    margin: 0 auto;
  
}
.background-of-contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
}
.content{
background-color: rgb(255, 255, 255);
padding: 10px;
}
.content-image{
width: 400px;
}
.content-image img{
    width: 100%;
}

.content button{
    padding: 10px 30px;
    font-size: 12pt;
}
.email-contactofbookworld{
    text-align: center;
}
/*contact us PAGE CONTENT END*/

/*afterheader-links*/
.afterheader-links{
    padding-top: 120px;
    padding-bottom: 20px;
    width: 100%;
    z-index: 999;
    text-align: center;
    background-color: #fcd7ff;
    position: fixed;
    
}

.afterheader-links a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}