body {
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}

/*Testimonial CONTENT MODOFICATIONS*/
#Testimonials-content{
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 40px;
}
h1{
    text-align: center;
    font-size: 100px;
    font-family: 'dancing script';
    margin: 20px;
}
.te-cato{
    background-color: #ffffff;
    width: 320px;
  
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 20px;
}
.all-testimo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.te-cato video{
    width: 100%;
    border-radius: 20px;
}
.star-rating {
    font-size: 35px; /* Size of the stars */
    color: rgb(255, 174, 0);   /* Color of the stars */
}

.star {
    margin: 0 2px; /* Space between stars */
}
.date{
    font-size: 12px;
}



/*HOME PAGE CONTENT END*/

/*afterheader-links*/
.afterheader-links{
    padding: 20px;
    text-align: center;
    background-color: #fcd7ff;
    
}

.afterheader-links a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}